@model List<Subscription>

@{
	ViewBag.Title = "Home Page";
}

<body>
	<div class="navbar">
		<a class="nav-link" asp-controller="Home" asp-action="Create">Create</a>
	</div>

	<div id="sub-list-display">

	</div>

	@if (Model != null)
	{
		<ul>
			@foreach (Subscription item in Model)
			{
				<li>@item.Name | @item.Price | @item.Email | @item.Category
					@item.RenewalType | @item.PurchaseDate | @item.NextRenewalDate</li>
			}
		</ul>
	}

</body>