@model List<Subscription>

@{
	ViewBag.Title = "Home Page";
}

<body class="container-md">
	<div class="col-md-6">
		<a class="btn btn-primary" asp-controller="Home" asp-action="Create">Create</a>
	</div>

	<div id="sub-list-display">
		@if (Model != null)
		{
			<table id="dispaly-table" class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Price</th>
						<th>Email</th>
						<th>Category</th>
						<th>Renew Type</th>
						<th>Purchase Date</th>
						<th>Renew Date</th>
					</tr>
				</thead>

				<tbody>
					@foreach (Subscription sub in Model)
					{
						<tr id="data-row">
							<td style="display: none">@sub.Id</td>
							<td>@sub.Name</td>
							<td>@sub.Price.ToString("C")</td>
							<td>@sub.Email</td>
							<td>@sub.Category.ToString()</td>
							<td>@sub.RenewalType.ToString()</td>
							<td>@String.Format("{0:MM/dd/yyyy}", sub.PurchaseDate)</td>
							<td>@String.Format("{0:MM/dd/yyyy}", sub.NextRenewalDate)</td>
							<td>
								<div class="btn-group">
									<a class="btn btn-light" asp-action="Edit" asp-route-subId="@sub.Id">Edit</a>
									<a class="btn btn-secondary" asp-action="Delete" asp-route-subId="@sub.Id">Delete</a>
								</div>
							</td>
						</tr>
					}
				</tbody>

			</table>
		}
	</div>

	<script>
		document.querySelectorAll('#data-row').forEach(item => {
			item.addEventListener('click', () => {
				let row = item;
				let val = row.cells[0].textContent;
				console.log(val);
			});
		});
	</script>

</body>